.main-chart .chart {
    width	: 19%;
    height	: 500px;
    display: inline-block;
}
#chart1 {
    width	: 100%;
    height	: 260px;
}
#chart2 {
    width	: 100%;
    height	: 260px;
}
#chart3 {
    width	: 100%;
    height	: 260px;
}
#chart4 {
    width	: 100%;
    height	: 260px;
}
#chart5 {
    width	: 100%;
    height	: 260px;
}
#chart6 {
    width	: 100%;
    height	: 260px;
}
#chart7 {
    width	: 100%;
    height	: 300px;
}
#chart8 {
    width	: 100%;
    height	: 250px;
}
.chart-content .chart-top {
    margin-bottom: 20px;
    width: 100%;
}
.chart-content .chart-bottom {
    width: 100%;
}
.amcharts-chart-div a {display:none !important;}
.chrome-browser {
    background: white;
}
.iframe {
    height: 265px;
    border:none;
    width: 100%;
}