.main-chart .chart {
    width	: 19%;
    height	: 500px;
    display: inline-block;
}
#chartdiv1 {
    width	: 100%;
    height	: 260px;
}
#chartdiv2 {
    width	: 100%;
    height	: 260px;
}
#chartdiv3 {
    width	: 100%;
    height	: 260px;
}
#chartdiv4 {
    width	: 100%;
    height	: 260px;
}
#chartdiv5 {
    width	: 100%;
    height	: 260px;
}
#chartdiv6 {
    width	: 100%;
    height	: 260px;
}
#chartdiv7 {
    width	: 100%;
    height	: 300px;
}
#chartdiv8 {
    width	: 100%;
    height	: 250px;
}
.chart-content .chart-top {
    margin-bottom: 20px;
    width: 100%;
}
.chart-content .chart-bottom {
    width: 100%;
}
.amcharts-chart-div a {display:none !important;}
.chrome-browser {
    background: white;
}
.iframe {
    height: 265px;
    border:none;
    width: 100%;
}